/* .portfolio__container { */
  /* display: grid; */
  /* grid-template-columns: repeat(3, 1fr); */
  /* gap: 2.5rem; */
/* } */

.portfolio__item {
  background: var(--color-bg-variant);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  gap: 1.3rem;
  margin :2rem 0rem;
}

.portfolio__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.portfolio__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
  /* height: 30%; */
}

.portfolio__item h3 {
  margin: 1rem 0;
}

.portfolio__item p {
  margin: 0 0 1.2rem 0;
  font-size: 0.9rem;
}

.portfolio__item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* .portfolio__item-content { */
  /* height: 50%; */
/* } */

@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

.container1{
  /* background: var(--color-bg-variant); */
  border-radius: 1rem;
  /* padding: 2rem; */

}

.tabs {
  display: flex;
  flex-wrap: wrap;
  /* background: var(--color-bg-variant); */
  /* border: 1px solid transparent; */
  border-radius: 1rem 1rem 0rem 0rem;
  /* padding: 2rem; */
    background: var(--color-bg-variant);
  transition: var(--transition);
  padding: 2rem 2rem;
  gap: 1.2rem
}
.tab-content{
  border: 1px solid var(--color-primary);
  border-top: none;
  padding: 1rem;
}
.tab-content #portfolio{
  margin: 0 !important;
}


.tabs .btn {
  background-color: transparent;
}
.tabs .btn:hover {
  background-color: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}
.tabs .btn-primary {
  background-color: var(--color-primary);
}

/* .tab-content {
  margin-top: 10px;
} */
/* .portfolio__item {
  position: relative;
}

.info-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 1;
}

.info-btn:hover .portfolio__item-info {
  display: block;
}

.portfolio__item-info {
  display: none;
  position: absolute;
  bottom: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  z-index: 1;
} */